[submodule "auth-server"]
	path = auth-server
	url = https://github.com/webvisual/auth-server
[submodule "data-server"]
	path = data-server
	url = https://github.com/webvisual/data-server
[submodule "reverse-proxy"]
	path = reverse-proxy
	url = https://github.com/webvisual/reverse-proxy
[submodule "custom-elements"]
	path = custom-elements
	url = https://github.com/webvisual/custom-elements
[submodule "gui"]
	path = gui
	url = https://github.com/webvisual/gui
